@font-face {
    font-family: Pacifico;
    src: url('../font/Pacifico-Regular.ttf');
}

.content_main{
    
}

/* HEADER */

.content_header{
    z-index: 10;
}

.nav_content{
    background: linear-gradient(to right, #4a105c, #e23bbe);
}

.ptitle{
    display: inline-block;
    margin-bottom: 0;
    color: rgb(255, 255, 255);
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}

.nav_links a{
    color: rgb(255, 255, 255) !important;
    font-size: 20px;
    text-shadow: 0.1px 0.1px 3px #000;
    font-family: 'Pacifico', cursive;
}

.nav_links a:hover{
    color: rgb(163, 148, 175) !important;
}



/* BODY */

.content_body{
    padding: 0 !important;
    margin-top: 63px;
    
}

.body_about{
    height: calc(100vh - 64px);
}

.body_features{
    height: calc(100vh - 64px);
}

.bg_about_img{
    width: 100%;
    right: 0;
    position: absolute;
    height: calc(100vh - 64px);
}

.bg_fea_img{
    width: 100%;
    right: 0;
    position: absolute;
    height: 50vh;
    align-self: flex-end;
}

.img_style2{
    width: 50%;
    
}

.img_style3{
    width: 50%;
    margin: 20px;
}

.cont_about{
    position: relative;
    
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 10px #000;
    z-index: 6;
}

.cont_img_about{
    display: flex;
    justify-content: center;
}

.text_about{
    width: 100%;
    text-align: justify;
    font-size: 18px;
    padding: 10px;
}

.text_features{
    text-align: justify;
    color: #000000;
    padding: 0px 10px;
}

.title_fea{
    font-weight: 900;
    color: #4f3755;
}

.row{
    margin-right: 0px !important;
}

.col{
    padding-right: 0px !important;
}

.col_flex{
    display: flex;
    justify-content: flex-end;
    padding: 0px !important;
    align-items: center;
}

.body_features div{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    margin-top: 10px;
    height: calc(100vh - 64px);
}


/* FOOTER */

.content_footer{

}

.sp{
    margin-right: 10px;
}

.snpadd{
    padding: 0 !important;
}

::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
}